<!DOCTYPE html>
<html>
  <head>
    <title>Safa's Website</title>
  </head>
  <body>
    <table border="1">
      <tr align="center" cellspacing="0">
        <td colspan="2">
          <ol>
            <li href="http://www.google.com">
              <a>Google</a>
            </li>
            <li href="http://www.yahoo.com">
              <a>Yahoo</a>
            </li>
          </ol>
        </td>
        <td>
          <a href="Bangladesh.html">
            <img src="map.jpg" width="100px" height="80px" alt="map.jpg">
          </a>
        </td>
      </tr>
      <tr align="center">
        <td colspan="4">
          <h2>ICT</h2>
        </td>
      </tr>
      <tr align="center">
        <td>a<sup>2</sup>-b<sup>2</sup></td>
        <td><del>ab</del></td>
        <td>H<sub>2</sub>O</td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
